
<%= tinymce_assets %>

<%= simple_form_for(@gym) do |f| %>
<%= f.error_notification %>

<form>
  <div class="form-group col-md-6">
     <div class="field form-group formtitle">
        <div>
          <%= f.input :name, label:"Nombre del lugar, tienda o servicio" %>
        </div>
        <div>
          <%= f.input :description, label:"Descripción del lugar y servicios disponibles", as: 'text', input_html: { class:'tinymce' }%>
        </div>
        <div>
          <%= f.input :latitude, label:"Latitud" %>
        </div>
        <div>
          <%= f.input :longitude, label:"Longitud" %>
        </div>
        <div>
          <%= f.input :address, label:"Dirección" %>
        </div>
        <div>
          <%= f.input :comuna, label:"Comuna" %>
        </div>
        <div>
          <%= f.input :phone, label:"Teléfono" %>
        </div>
        <div>
          <%= f.input :email, label:"Email" %>
        </div>
        <div>
          <%= f.input :website, label:"Página Web" %>
        </div>
        <%= f.label "Logo" %><br>
        <p>Sube el logo con el botón</p>
        <%= f.file_field :logo %>
        <br>
        <div>
          <%= f.label "Cliente pago?" %><br>
          <%= f.input :customer, inline_label: 'Cliente paga membresía'%>
          <br>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
      <% end %>
      </div>
    </form>

    <%= tinymce %>