
<%= tinymce_assets %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!--   <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= javascript_include_tag 'tag-it'%>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
   <%= stylesheet_link_tag    'jquery.tagit', media: 'all'%> >

<%= simple_form_for(@gym) do |f| %>
<%= f.error_notification %>



<form>
  <div class="form-group col-md-6">
     <div class="field form-group formtitle">
        <div>
          <%= f.input :name, label:"Nombre del lugar, tienda o servicio" %>
        </div>
        <div>
          <%= f.input :description, label:"Descripción del lugar y servicios disponibles", as: 'text', input_html: { class:'tinymce' }%>
        </div>
        <div>
          <%= f.input :latitude, label:"Latitud" %>
        </div>
        <div>
          <%= f.input :longitude, label:"Longitud" %>
        </div>
        <div>
          <%= f.input :address, label:"Dirección" %>
        </div>
        <div>
          <%= f.label :"Seleccione una Comuna" %><br>
          <%= f.select :neighborhood_id, Neighborhood.all.map{|n| [n.name, n.id]} %>
        </div>
        <br>
         <div>
          <%= f.input :tag_list, label: "Tags", input_html: { id:"myTags"} %>
        </div>
        <div>
          <%= f.input :phone, label:"Teléfono" %>
        </div>
        <div>
          <%= f.input :email, label:"Email" %>
        </div>
        <div>
          <%= f.input :website, label:"Página Web" %>
        </div>
        <%= f.label "Logo" %><br>
        <p>Sube el logo con el botón</p>
        <%= f.file_field :logo %>
        <br>
        <div>
          <%= f.label "Cliente pago?" %><br>
          <%= f.input :customer, inline_label: 'Cliente paga membresía'%>
          <br>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class:"btn btn-info" %>
      </div>
      <% end %>
      </div>
    </form>

    <%= tinymce %>
     <script type="text/javascript">
    $(document).ready(function() {
        $("#myTags").tagit({
          availableTags: 
          [
      "Crossfit",
      "Pesas",
      "Musculación",
      "Pilates",
      "Yoga",
      "Spinning",
      "Personal Trainer",
      "Máquinas",
      "Piscina",
      "Natación",
      "Cancha",
      "Running",
      "Zumba",
      "Baile",
      "Gimnasia",
      "TRX",
      "Body Pump",
      "Acondicionamiento",
      "Artes Marciales",
      "Taekwon-do",
      "Karate",
      "Muai Thai"
          ]
          });
      });
</script>