<div class="greyback">
<div class="container opensansdark" style="padding-top:100px">
  <%= link_to '', gyms_path, class:"fa fa-arrow-circle-o-left fa-3x" %> 
   <% if user_signed_in? and current_user.admin? %>
  <%= link_to '', edit_gym_path(@gym), class:"fa fa-pencil-square-o fa-3x", style:"margin-left:20px" %>
  <% end %>
  <br>

  <div class="card-gym">
    <div>
      <%= image_tag @gym.logo, class:"showlogo" %>
    </div>
    <h1>
      <%= @gym.name %>
    </h1>

    <p>
      <strong>Dirección:</strong>
      <%= @gym.address %><br>
      <strong>Teléfono:</strong>
      <%= @gym.phone %><br>
      <strong>Email:</strong>
      <%= @gym.email %><br>
      <strong>Sitio Web:</strong>
      <%= link_to @gym.website, @gym.website %>
    </p>

    <div class="card-inside-text">
      <h4>
        <%= @gym.description.html_safe %>
      </h4>
    </div>
  </div>

  <div class="container">
    <h2 class="opensansheader">Qué dicen los usuarios</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Comentarios (<%= @reviews_count %>)
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% @gym.reviews.each do |review| %>
            <div class="card-comment">
              <%= image_tag review.user.image, size: '50' %>
              <p class="opensanstext"><strong><%= review.user.name %></strong></p>
              <p class="gymreview opensansdark"><%= review.description %></p>
              <p><%= time_ago_in_words(review.created_at) %></p>
              <p>
              <a class="fa fa-thumbs-up fa-lg" href="<%= like_gym_review_path(review.gym, review) %>" data-method="PUT" data-remote="true"></a>
              <span id="likes-<%= review.id %>"><%= review.votes_for.size %></span>
              </p>
              <% if user_signed_in? and current_user.admin? %>
              <%= link_to "", gym_review_path(@gym, review), method: :delete, class:"btn btn-warning btn-small fa fa-trash" %>
                <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>




    <%= form_for([@gym, @review]) do |f| %>
    <div class="field">
      <%= f.text_area :description, class:"form-control", placeholder:"Deja tu comentario" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Deja tu comentario", class:"btn btn-warning" %>
    </div>
    <% end %>


  </div>
  
 


  <br>


</div>
</div>